
<div class="mb-3">
    <div class="mb-3"><label class="form-label" style="margin-bottom: 0px;"><strong>Pareja 1:</strong></label><select class="form-select mx-2" style="width: 180px;display: inline;"></select><select class="form-select mx-2" style="width: 180px;display: inline;"></select></div>
</div>
<div class="mb-3"><label class="form-label" style="margin-bottom: 0px;"><strong>Pareja 2:</strong></label><select class="form-select mx-2" style="width: 180px;display: inline;"></select><select class="form-select mx-2" style="width: 180px;display: inline;"></select></div>
<div style="display: inline;">
    <label class="form-label" style="margin-bottom: 0px;display: inline;"><strong>Ganador:</strong></label><select class="form-select mx-2" style="width: 180px;display: inline;"></select>
    <div style="margin-top: 15px;">
        <span class="my-2" style="display: block;margin-left: 30px;">
            Set 1:
            <select class="form-select mx-2" style="width: 60px;display: inline;">
                <option value="undefined" selected=""></option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
            <span>-</span>
            <select class="form-select mx-2" style="width: 60px;display: inline;">
                <option value="undefined" selected=""></option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </span>
        <span class="my-2" style="display: block;margin-left: 30px;">
            Set 2:
            <select class="form-select mx-2" style="width: 60px;display: inline;">
                <option value="undefined" selected=""></option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
            <span>-</span>
            <select class="form-select mx-2" style="width: 60px;display: inline;">
                <option value="undefined" selected=""></option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </span>
        <span style="display: block;margin-left: 30px;">
            Set 3:
            <select class="form-select mx-2" style="width: 60px;display: inline;">
                <option value="undefined" selected=""></option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
            <span>-</span>
            <select class="form-select mx-2" style="width: 60px;display: inline;">
                <option value="undefined" selected=""></option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </span>
    </div>
</div>
<div class="my-4"><button class="btn btn-secondary float-end" type="button">Cancelar</button><button class="btn btn-primary float-end float-end me-3" type="button">Guardar</button></div>


@code {

}
