.container4Squares {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: auto;
  height: 300px;
}

.cardplayer {
  background: transparent;
  margin-right: 0px;
  margin-bottom: 0px;
}

.grid-4 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 2;
  grid-row: 2;
}

.grid-3 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.grid-2 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row: 1;
}

.grid-1 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.nivelPista {
  text-align: center;
  margin-bottom: 0px;
  background-color: black;
}

.nickPista {
  text-align: center;
  margin-bottom: 0px;
  background-color: rgb(200,194,62);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imgPlayerPista {
  max-height: 90px;
}

li.jugador_espera {
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
}

.cardplayerContainer-1 {
  margin-right: 10px;
  margin-bottom: 10px;
}

.cardplayerContainer-2 {
  margin-left: 10px;
  margin-bottom: 10px;
}

.cardplayerContainer-3 {
  margin-right: 10px;
  margin-top: 10px;
}

.cardplayerContainer-4 {
  margin-left: 10px;
  margin-top: 10px;
}

.pista {
  /*background-color: #408cff;*/
  background: url("../imgs/pistaPadelTexture.jpg") center center no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .opcionesRowSmall {
    height: auto !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .opcionesColumnSmall {
    justify-content: start !important;
  }
}

@media (max-width: 576px) {
  .opcionesColumnSmall {
    justify-content: start !important;
    margin-left: 0px !important;
  }
}

@media (max-width: 767px) {
  #fechaParrillaDiv {
    margin-bottom: 10px;
  }
}

@media (max-width: 422px) {
  #btnDiaAnterior, #btnHoy, #btnDiaSiguiente {
    /*background-color: #ffab40;*/
    font-size: 12px;
    margin-right: 0px !important;
  }
}

@media (max-width: 422px) {
  #datepickerParrilla {
    /*background-color: #ffab40;*/
    font-size: 13px;
    margin-right: 0px !important;
    height: 30px !important;
  }
}

@media (max-width: 422px) {
  #filtroNivelInicial, #filtroNivelFinal {
    /*background-color: #e42525;*/
    height: 30px !important;
    font-size: 13px;
  }
}

@media (max-width: 422px) {
  #labelFechaDatapickerParrilla, #labelFiltroNivelesParrilla {
    font-size: 14px;
  }
}

@media (max-width: 422px) {
  #label-a {
    font-size: 14px;
  }
}

